:root {
  box-sizing: border-box;
}

.cell {
  width: 50px;
  height: 50px;
  background: cornflowerblue;
  color: transparent;
  padding: 0;
  display: flex;
}

.W {
  background: rgb(27, 30, 32);
  
}
.row {
  display: flex;
}

.player {
  /* width: 50px;
  height: 50px; */
  /* background: black; */
  position: relative;
  display: inline-block;
  
  margin: 0;
  padding: 0;
}
.S {
  /* background: black; */
  position: relative;
}
